@charset "utf-8";
.gchamoniter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.show{
    
     position: relative;
     
    display: none;
}
#star{  
    width: fit-content;
    
    background-color: #f5f4f4;
    position: relative;
    top: 200px;
    margin-left: 40px;
}
