@charset "utf-8";
*,
::after,
::before{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
html{
    overflow: hidden;
    background-image: url(./title.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text{
    position: absolute;
    left: 84vw;
    top: 40px;
   font-weight: bold;
}
.header p{
    font-weight: bold;
    position: relative;
    top: 30px;
}
#resalt{
    text-align: center;

}
#list{
    font-size: 30px;

}
.gachamoniter2{
    position: relative;
    width: 100vw;
    height: 100vh;

}
.gachamoniter{
    transform:translate3d(0,-1000px,0) ;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: white;
     position: absolute;
    text-align: center;
    font-weight: bold;
    color: rgb(51, 50, 50);
    transition-duration: 0.5s;
    z-index: 10;
}
.show{
    transform: translate3d(0,0,0);

}
#star{  

    width: fit-content;
    font-weight: bold;
    position: relative;
    top: -240px;
    padding:20px 20px 20px 20px ;
   
}

.box{
    
    border: 3px solid rgb(136, 136, 136);
    box-shadow: 4px 5px 4px rgb(91, 91, 91);
    position: relative;
    background-color: rgb(253, 253, 253);
    opacity: 0.6;
    width: 340px;
    height: 370px;
    top: 140px;
    
}

.room{
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -25px;
    background-image: url(./room2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height:100vh;
}
.button img{
    top: 5px;
    position: absolute;
    z-index:15;
    left: 91vw;
    top: 15px;
    border: none;
    display: block;
    width:80px;
}
.button img:hover{
    filter:opacity(0.4);
    transition-duration: 0.3s;
}
.getlang{
    
    display: grid;
    grid-template-columns:100px 100px 100px  ; 
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}
.room img{
     height: 150px;
    position: absolute;
    width: 50vw;
    left: 25vw;
    top: 30px;
}
.gachamoniter3{
    position: absolute;
    padding-top: 30px;
    z-index: 33;
    top: 190px;
    left: 500px;
    right: 0;
    bottom: 0;
    width: 25rem;
    height: 17rem;
     border: 2px solid black;
     border-radius: 15px;
     background-color: white;
     
    

}
.floor{
    top: -90px;
    left: -300px;
    position: absolute;
    z-index: 9;
    height: 150vh;
    width: 150vw;

}
#gif{
    position: absolute;
    width: 600px;
    left: 400px;
    top: -15px;
    z-index: 500;
}
#gacha {
   
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.explain{
    position: absolute;
    left: 84vw;
    top: 40px;
    z-index: 100;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
   
}
#gacha span{
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: rgb(241, 241, 128);
    border-radius: 24px;
    border: 3px solid;
    box-shadow: 2px 5px 2px rgb(110, 109, 109);

}
#gacha span:hover{
    opacity: 0.6;
    transition-duration: 0.3s;

}
#textman{
    position: absolute;
    font-size: 33px;
    font-weight: bold;
    width: 50vw;
    left: 37vw;
    top: 52px;
    z-index: 1;

}
.table{
    position: absolute;
    width: 1000px;
    z-index: 11;
    left: 17vw;
    top: 20vh;


}
#images{
   height: 500px;
    width: 300px;
    position: relative;
    top: -530px;
    left: 45vw;
}
.splashbg{
    display: none;
  content: "";
  position:fixed;
  transform: scale(100);
  background-image: url(./title.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;/*伸びる背景色の設定*/
  z-index: 999;
    /*丸のスタートの形状*/
    top:calc(50% - 1rem);/*50%から円の半径を引いた値*/
    left:calc(50% - 1rem);/*50%から円の半径を引いた値*/
  width: 2rem;
  height: 2rem;
}
#splash{
    position: absolute;
    top: 13px;
    background-image:url(./title.PNG);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
    display: block;
    border-radius: 50%; 
  animation-name:PageAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
}

@keyframes PageAnime{
  0% {/*丸のスタート位置と形状*/
    transform: scale(100);
  
  }
  100% {/*丸の終了位置と形状*/
    transform: scale(0);
    display: none;/*終了時は消える*/
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
  opacity: 0;/*はじめは透過0に*/
}
#splash h1{
    text-align: center;
    margin-top: 100px;
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
  animation-name:PageAnimeAppear;
  animation-duration:0s;
  animation-delay: 0s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

.tiping{
    position: absolute;
    transform:translate3d(-1900px,0,0);
      transition-duration: 0.5s;
    
      width: 100vw;
      height: 100vh;
}
.isshow{position: absolute;
    transform: translate3d(0,0,0);
  z-index: 100;
  width: 100vw;
  height: 100vh;

}
#botan{
    position: absolute;
    z-index: 1001;
    height: 100px;
    left: 90vw;
    top: 90vh;

}



.container{
    position: absolute; 
    z-index: 100;
      width: 100%;
      top: 0;
    left: 0;
    height: 100%;
    background-color: aqua;
    font-size:2.4rem;
    font-weight:600;
   
    border-radius: 0.5rem;
  
   
}

.container .type-Input{
    position: absolute;
    margin-top:4rem;
    font-size:3rem;
    z-index: 100;
}

.timer{
    position: absolute;
    top: 2rem;
    z-index: 11;
    font-size:5rem;
    font-weight:bold;
    color:red;
    z-index: 10000;
}

.type-display{
    margin-bottom:1rem;
    margin-left:1rem;
}

.type-Input{
    background: transparent;
    border:2px solid red;
    outline:none;
    width:100%;
    height:14rem;
    margin:auto;
    resize:none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size:1rem;
}

.correct{
    color:green;
}

.incorrect{
    color:red;
}

